html {
    text-align:center
}

h1{
    font-family:monospace
}

body {
    background-color: #F9F9F9;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    margin: 0;
}

a {
    text-decoration: none;
}

main {
    flex: 1;
    padding: 0 10px;
}

footer {
    background-color: #404040;
    color: #F9F9F9;
    padding: 15px 0;
}

.hoverease {
    transition: all .25s ease-in;
    -o-transition: all .2s ease-in;
    -moz-transition: all .25s ease-in;
    -webkit-transition: all .25s ease-in;
}

.hoverease:hover {
    transition: all .25s ease-out;
    -o-transition: all .2s ease-out;
    -moz-transition: all .25s ease-out;
    -webkit-transition: all .25s ease-out;
}
.connect {
    font-size: 40px;
    color: #F9F9F9;
}

.fa-linkedin:hover {
    color: #1178B3;
}

.fa-twitter:hover {
    color: #2AA3EF;
}

.fa-github:hover {
    color: #A24CA1;
}

.github {
    color: #000000;
}
.github:hover {
    color: #A24CA1;
}

.powershell {
    color:#000000;
}

.powershell:hover {
    color:#4F88E7;
}

.headshot {
    border-radius:50%;
    object-fit: cover;
}